.wrapperSeq {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-rows: 8vh auto;
  background-color: #fff;
  color: #444;
  height: 90vh;
}

.topSeq {
  padding: 1rem;
  grid-row: 1;
  /* border-bottom: 1.5px solid #c4c4c4; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seqName {
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #5d5e60;
}

.type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  color: #989898;
}

.openFormBtn {
  border: none;
  background-color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: medium;
  line-height: 24px;

  color: #8f8f90;
}

.bottomSeq {
  grid-row: 2 / 4;
}

.typeShot {
  padding: 0rem 0rem 0rem 1rem;
}

.loading {
  padding: 1rem;
}

.error {
  padding: 1rem;
}

.none {
  padding: 1rem;
}
