.cardAsset {
  width: 15vw;
  height: 15vh;
  overflow: hidden;
  box-shadow: 0px 0px 10px -5px;
  transition: 0.2s;
  animation: ease-in;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 1rem; */
}

.card-contentAsset {
  margin: 1rem;
  margin-top: 0.5rem;
}

.cardAsset:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 0px;
}

.asset-name {
  margin-top: 0.5rem;
  transition: 0.2s;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  text-decoration: underline;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: medium;
  line-height: 100%;
  /* or 100% */

  color: #5d5e60;
}

.asset-name:hover {
  transform: scale(1.06);
}
